[2020-03-05 23:56] mijicd opened #5 "Represent geo commands"
https://redis.io/commands#geo

[2020-03-05 23:57] mijicd opened #6 "Represent scripting commands"
https://redis.io/commands#scripting

[2020-03-05 23:57] mijicd opened #7 "Represent transactional commands"
https://redis.io/commands#transactions

[2020-03-06 00:00] mijicd opened #8 "Interpret commands"
This issue is consisted of multiple steps, some of which may end up in a separate issues:

- [ ] adjust the API to support pipelining
- [ ] implement encoding and decoding
- [ ] connection management strategies
- [x] enable integration tests on CircleCI

[2020-03-06 00:02] mijicd opened #9 "Add missing keys commands"
Keys API currently doesn't support the following:

- `MIGRATE`
- `OBJECT`
- `RANDOMKEY`
- `RESTORE`
- `SORT`
- `WAIT`

Determine which of these are necessary, and represent them.

[2020-03-06 00:04] mijicd opened #10 "Add missing lists commands"
Keys API currently doesn't support `BLPOP`, `BRPOP` and `LINSERT`. To be able to represent them, our DSL needs to be adjusted to support non-empty lists that aren't in last positions (as well as having multiple non-empty lists).

cc @jdegoes

[2020-03-06 00:05] mijicd opened #11 "Add missing strings commands"
Strings API currently doesn't support:
- [x] `BITFIELD`
- [x] `BITOP`
- [x] `BITPOS`
- [x] `SET`

Please raise your hand for the ones you're taking :).

[2020-03-06 00:08] mijicd opened #12 "Publish microsite"
Once the implementation is ready for preliminary release, make sure microsite is ready as well. Use the templates provided by [g8 template](https://github.com/zio/zio-project-seed.g8).

**IMPORTANT:** Don't forget to create a new SSH key and gh-pages branch.

[2020-03-06 00:09] mijicd opened #13 "Release the library"
Once the implementation is ready, align the `release` job with the rest of the organization, i.e. enable snapshots and stable artifact publishing.

[2020-03-06 00:17] mijicd opened #14 "Add missing sorted sets commands"
Sorted sets API currently doesn't support the following:

- [x] `ZINTERSTORE`
- [x]  `ZLEXCOUNT`
- [x]  `ZPOPMAX`
- [x]  `ZPOPMIN`
- [x]  `ZRANGEBYLEX`
- [x]  `ZREVRANGEBYLEX`
- [x]  `ZRANGEBYSCORE`
- [x]  `ZREMRANGEBYLEX`
- [x]  `ZREMRANGEBYRANK`
- [x]  `ZREMRANGEBYSCORE`
- [x]  `ZREVRANGE`
- [x]  `ZREVRANGEBYSCORE`
- [x]  `ZREVRANK`
- [x]  `ZUNIONSTORE`

As there are quite a few of them, please

[2020-03-06 00:26] jdegoes commented on #10
`command(input)(varargs1)(varargs2)`

`command(input1)(varargs)(input2)`

Mapping Redis non-empty lists to Scala non-empty lists (first element and then varargs) will require a separate parameter list for each non-empty.

[2020-03-22 14:59] landlockedsurfer commented on #14
I will start working on this issue.

[2020-03-28 20:57] mijicd commented on #14
Closed via #17

[2020-03-28 20:57] #14 closed

[2020-03-28 20:58] landlockedsurfer commented on #11
I will start working on this one.

[2020-03-29 04:18] paulpdaniels commented on #7
I'll take this one.

[2020-03-29 05:02] paulpdaniels commented on #5
I'll also take a crack at this one.

[2020-03-29 13:37] #7 closed

[2020-03-29 13:43] #5 closed

[2020-03-29 13:45] mijicd opened #20 "Ensure all command outputs are proper"
Some commands can return `(nil)` in case of missing values. Instead of treating that as an error, proper optional responses should be specified (see #19 for more details).

[2020-04-17 09:57] mijicd commented on #11
Closed in #21

[2020-04-17 09:57] #11 closed

[2020-05-10 11:37] #20 closed

[2020-05-19 01:03] mikail-khan commented on #6
I'll take this one.

[2020-05-19 01:03] mikail-khan commented on #9
I'll take this one.

[2020-05-26 12:07] mikail-khan commented on #9
The followings keys are problematic:

1. `OBJECT` : Depending on the type of Redis sub-command the output type is different. The current design of the service does not support this.
2. `RANDOMKEY` : This does not take any input parameters. There is no way of specifying no input parameters with the current design.
3. `SORT`: The output type of this Redis command depends on what option the user has

[2020-05-26 12:16] mijicd commented on #9
@mikail-khan regarding `randomkey`, there is a `NoInput`. Check out `Transactions` API. Let me think about the other ones over the PR review :).

[2020-05-30 21:06] mijicd commented on #9
Closed in #51. Let's leave `object` out of scope for now.

[2020-05-30 21:06] #9 closed

[2020-06-23 09:06] #8 closed

[2020-06-23 09:08] mijicd opened #58 "Test keys API"
Expand the [ApiSpec](https://github.com/zio/zio-redis/blob/master/src/test/scala/zio/redis/ApiSpec.scala) with remaining keys commands.

[2020-06-23 09:09] mijicd opened #59 "Test geo API"
Expand the [ApiSpec](https://github.com/zio/zio-redis/blob/master/src/test/scala/zio/redis/ApiSpec.scala) with geo commands.

[2020-06-23 09:09] mijicd opened #60 "Test hashes API"
Expand the [ApiSpec](https://github.com/zio/zio-redis/blob/master/src/test/scala/zio/redis/ApiSpec.scala) with hashes commands.

[2020-06-23 09:10] mijicd opened #61 "Test HyperLogLog API"
Expand the [ApiSpec](https://github.com/zio/zio-redis/blob/master/src/test/scala/zio/redis/ApiSpec.scala) with HLL commands.

[2020-06-23 09:10] mijicd opened #62 "Test lists API"
Expand the [ApiSpec](https://github.com/zio/zio-redis/blob/master/src/test/scala/zio/redis/ApiSpec.scala) with lists commands.

[2020-06-23 09:11] mijicd opened #63 "Test sets API"
Expand the [ApiSpec](https://github.com/zio/zio-redis/blob/master/src/test/scala/zio/redis/ApiSpec.scala) with sets commands.

[2020-06-23 09:11] mijicd opened #64 "Test strings API"
Expand the [ApiSpec](https://github.com/zio/zio-redis/blob/master/src/test/scala/zio/redis/ApiSpec.scala) with strings commands.

[2020-06-23 09:11] mijicd opened #65 "Test sorted sets API"
Expand the [ApiSpec](https://github.com/zio/zio-redis/blob/master/src/test/scala/zio/redis/ApiSpec.scala) with sorted sets commands.

[2020-06-23 09:20] mijicd opened #66 "Benchmark the implementation"
Benchmark the performance of the API using JMH. Benchmarks should include the other client libraries (e.g. redis4cats and laserdisc-io).

[2020-06-23 09:22] mijicd opened #67 "Add transactions support"
Update the interpreter to support transaction execution. Note that this change might require adjusting the public API.

[2020-06-23 09:24] mijicd opened #68 "Collect the list of missing commands"
Redis API has been expanded since the library was designed. The purpose of this issue is to come with the list of missing commands, and decide which ones we are going to support.

[2020-06-23 09:27] mijicd opened #69 "Test input encoding"
Write a suite that checks command encoding. Since there are 50+ possible inputs, the work can be parallelized and shipped in multiple pull requests.

[2020-06-23 12:01] mikail-khan commented on #66
redis4cats is just a cats wrapper for [lettuce](https://github.com/lettuce-io/lettuce-core)

[2020-06-23 12:03] mijicd commented on #66
@mikail-khan I am aware of that. Still it is used, so I think it's worth having it. I'm open to including others as well.

[2020-06-23 16:45] aleksandarskrbic commented on #58
I'll take this one!

[2020-06-26 08:28] mijicd opened #75 "Define scalafix rules"
A good example can be taken from [here](https://github.com/zio/zio).

[2020-06-26 20:41] geoffjohn11 commented on #62
I can add tests for the lists api

[2020-06-26 20:59] mijicd commented on #62
@geoffjohn11 all yours, let me know if you need any help!

[2020-06-28 15:32] #58 closed

[2020-06-28 18:25] mijicd opened #78 "Fix DUMP command"
Dump response can't be parsed. Find the root cause and "unignore" the existing test.

[2020-06-28 18:27] mijicd opened #79 "Fix KEYS command"
Keys response can't be parsed once there is more than 24 keys as pointed in #74. Whoever picks this ticket should fix the issue and "unignore" the existing test.

[2020-06-29 11:46] aleksandarskrbic commented on #59
I'm working on this :)

[2020-06-29 19:26] msvaljek commented on #79
I'll take this one!

[2020-06-30 19:16] geoffjohn11 commented on #62
Thanks @mijicd for offering to help!  I created a pr with my attempt: https://github.com/zio/zio-redis/pull/80

[2020-07-02 21:24] aleksandarskrbic commented on #60
I'm taking this one!

[2020-07-07 23:24] mijicd commented on #79
Somewhat related, keys test was failing for quite a lot as part of https://github.com/zio/zio-redis/pull/80. See [this](https://app.circleci.com/pipelines/github/zio/zio-redis/193/workflows/8e0388c1-2086-40b5-81ff-85e273ee7342/jobs/1155).

[2020-07-08 01:32] ghostdogpr opened #86 "Add streaming support (XADD, XREAD, etc)"
See https://redis.io/topics/streams-intro

https://redis.io/commands/xadd
https://redis.io/commands/xread
etc.

[2020-07-12 18:54] mijicd commented on #79
Closed in #87.

[2020-07-12 18:54] #79 closed

[2020-07-12 19:11] mijicd opened #88 "Fix keys flaking"
Keys test occasionally returns wrong result (see [this](https://app.circleci.com/pipelines/github/zio/zio-redis/203/workflows/339dc59f-ecd6-4220-aa50-6428f2c3006a/jobs/1200/steps)).

[2020-07-14 20:14] geoffjohn11 commented on #61
I'll try to get a pr up for these

[2020-07-14 20:16] mijicd commented on #61
@geoffjohn11 All yours!

[2020-07-16 12:49] #59 closed

[2020-07-18 13:22] mijicd commented on #62
Closed in #80

[2020-07-18 13:22] #62 closed

[2020-07-18 13:23] #61 closed

[2020-07-29 09:09] anovakovic01 commented on #63
I will take this one.

[2020-07-31 10:24] #63 closed

[2020-07-31 10:27] anovakovic01 commented on #10
@mijicd I can take this one next if no one else is working on it.

[2020-07-31 10:28] mijicd commented on #10
@anovakovic01 all yours.

[2020-07-31 12:24] maciejbak85 commented on #65
I will work on it

[2020-07-31 12:26] mijicd commented on #65
@maciejbak85 all yours, thanks for taking care of it!

[2020-07-31 15:03] maciejbak85 commented on #65
While working on it
I found out that `ZINTERSTORE` command does not work correctly.
Probably similar issue is with zRem and zCard I will fix it by the way.

Leaving comment there just in case someone would like to open bug or fix it ;)

[2020-07-31 15:08] mijicd commented on #65
@maciejbak85 definitely write test, and check out if it is possible to fix them easily (we had situations with buffer overflows and missing output formats). In case there's a bigger work needed, mark the tests as ignored and document your findings in separate issue. That way we can tackle them in parallel.

[2020-08-01 10:22] #10 closed

[2020-08-01 10:51] anovakovic01 commented on #64
I'll take this one.

[2020-08-03 15:00] maciejbak85 opened #97 "Problem in sorted sets with: zInterStore, zUnionStore, zScan"
During creating of unit tests for sorted sets: https://github.com/zio/zio-redis/issues/65
I found out that there are some problems with those 3 commands.
IMO looks like they are not properly "rendered" into redis commands.

I am creating this ticket and will work on it.

[2020-08-03 19:29] anovakovic01 opened #98 "Fix BITFIELD command"
The current `bitField` implementation has the following problems:
1. it doesn't allow mixed order of different commands like in the example below (order matters).
2. it cannot parse current output because it is an array of integers and if there is overflow failure, it will have NULL multistring output (`$-1`) as an element of an output array.

**Example:**
[code]

[2020-08-05 11:44] maciejbak85 commented on #65
@mijicd btw Ive fixed them, still finishing those tests, just few left, PR should be ready tomorrow

[2020-08-05 11:45] mijicd commented on #65
@maciejbak85 looking forward to reviewing it!

[2020-08-08 21:03] #64 closed

[2020-08-09 08:27] anovakovic01 commented on #98
I will work on this one.

[2020-08-12 10:32] #98 closed

[2020-08-12 10:45] mijicd commented on #88
Temporary fixed by increasing timeouts. If it starts happening again, we will need to fix it properly. Closing this issue until then.

[2020-08-12 10:45] #88 closed

[2020-08-12 10:46] mijicd commented on #60
@aleksandarskrbic do you need any help with this one?

[2020-08-12 10:50] anovakovic01 commented on #69
I will start working on this one.

[2020-08-12 10:56] aleksandarskrbic commented on #60
@mijicd I finished ~70% of works, hope that I will submit PR until Friday since I was pretty busy last 2 weeks :)

[2020-08-12 10:57] mijicd commented on #60
Awesome!

[2020-08-19 15:18] shankarshastri commented on #75
@mijicd, I can pick this up.

[2020-08-19 16:09] mijicd commented on #75
@shankarshastri All yours, thanks for taking care of it!

[2020-08-20 09:28] #75 closed

[2020-08-21 08:12] #60 closed

[2020-08-23 18:18] shankarshastri commented on #78
@mijicd , I actually spend a good amount of time on this issue. Found that there are differences in the serialized byte string.

<img width="1792" alt="Screenshot 2020-08-23 at 6 02 12 PM" src="https://user-images.githubusercontent.com/10391044/90978360-f94ba600-e56a-11ea-99e8-e974050aac69.png">

Note: In the above image the commands monitored are from zio-redis tests, and the next one is done man

[2020-08-23 18:44] shankarshastri commented on #78
Few characters that Redis responds for dump output when converted to utf8 byte string there's a mismatch in the bytes.
Either we need to make DUMP command respond back with Array[Byte] or we need to try different charset for DUMP alone. I have created a draft branch for trying out things. Please check the same.

@mijicd, Please let me know your thoughts.

[2020-08-23 18:47] mijicd commented on #78
@shankarshastri thankd for taking care of this, I'll take a look at it a bit later!

[2020-08-24 06:59] mijicd commented on #78
@shankarshastri Let's try to minimize the impact and replace the output type to `Chunk[Byte]` rather than changing encoding.

[2020-08-24 10:59] shankarshastri commented on #78
@mijicd , if you can actually provide me few hints on how I should start I can go ahead. I have few doubts, as currently the unsafeReceive method returns the string rather than chunk[bytes]. Please let me know your thoughts.

[2020-08-24 11:42] mijicd commented on #78
@shankarshastri Ah yes, you are right. Let me think about this one a bit and I'll get back to you.

[2020-08-25 06:32] mijicd commented on #78
@shankarshastri Let's give it a try and actually expose the raw stuff from interpreter. So, what you need to do is:

- Avoid conversion to string in `RedisExecutor#unsafeReceive`.
- Adjust all signatures.
- Convert to string where applicable (all commands but `dump`).
- Modify `Output` decoding.

[2020-08-25 09:59] shankarshastri commented on #78
Sure @mijicd, I shall spend some time this week.

[2020-08-25 14:36] shankarshastri commented on #78
@mijicd , I was trying to make the changes, but then for `restore` command as well the input will change right? And currently, `Input` `encode` method is returning Chunk[String]. Please let me know your thoughts !!

[2020-08-25 14:50] mijicd commented on #78
@shankarshastri Yes. Give it a timeboxed try, if it causes a severe disruption, it easier to temporary remove support and check out the implementation in well established libraries like lettuce.

[2020-08-25 14:55] shankarshastri commented on #78
Sure !!

[2020-08-27 08:08] #65 closed

[2020-08-27 08:08] #97 closed

[2020-09-14 02:38] regis-leray commented on #68
### ACL
- [ ] ACL LOAD Reload the ACLs from the configured ACL file
- [ ] ACL SAVE Save the current ACL rules in the configured ACL file
- [ ] ACL LIST List the current ACL rules in ACL config file format
- [ ] ACL USERS List the username of all the configured ACL rules
- [ ] ACL GETUSER username Get the rules for a specific ACL user
- [ ] ACL SETUSER username [rule [rule ...]] Modify or create th

[2020-09-14 02:41] regis-leray commented on #68
@mijicd  i used https://redis.io/commands to list all commands and only checked what is implemented

[2020-09-14 03:00] regis-leray commented on #86
https://github.com/zio/zio-redis/issues/68

[2020-09-14 03:00] regis-leray commented on #6
https://github.com/zio/zio-redis/issues/68

[2020-09-14 07:28] mijicd commented on #68
@regis-leray amazing job, thank you! Lots of these were added in the meantime with redis 6, but it would be great if we can support them.

I planned to ship one small usability improvement and cut the 0.0.1 release but my work schedule postponed that. However, I think I'll have that by tomorrow and then we can crunch the rest of the stuff.

Goes without saying, I'd love to have you on board :). In

[2020-09-14 12:16] regis-leray commented on #68
@mijicd of course I will try my best to contribute.

so the plan is to support all missing commands?
 - [ ] cluster,
 - [ ] connection
 - [ ] pub/sub
 - [ ] scripting
 - [ ] server
 - [ ] streams

And i'm guessing we will add few missing commands for existing group.

is there any particular priority/order? or doesn't matter?

[2020-09-14 12:33] mijicd commented on #68
I think @anovakovic01 is already working on streaming part, the rest of those are open for tackling. I'd prioritize adding the missing commands for existing groups though, just to make some "order" in releases :).

[2020-09-15 20:20] mijicd commented on #6
Closed in favor of #68.

[2020-09-15 20:20] #6 closed

[2020-09-15 20:20] mijicd commented on #86
Closed in favor of #68.

cc @anovakovic01

[2020-09-15 20:20] #86 closed

[2020-09-15 20:20] mijicd commented on #67
Closing in favor of #68

[2020-09-15 20:20] #67 closed

[2020-09-15 20:22] mijicd commented on #68
I have closed 3 related tickets in favor of this one. From now on, please raise your hand for the command (or group of commands) you are interested in. @anovakovic01 already called "dibs" on streaming :).

[2020-09-15 20:35] regis-leray commented on #68
i can try to implement `SCRIPTING`

[2020-10-16 08:31] quelgar opened #136 "Move RESP serialisation into RedisExecutor service"
I think some changes to `Interpreter` are needed.

The problem is that the current method of receiving responses isn't reliable, and it can't support pipelining. The `unsafeReceive` method just keeps reading until it only partially fills its buffer, assuming that means it has now read the entire response. There's a few ways this can go wrong, but the easiest way to make it fail when using localhos

[2020-10-16 10:42] mijicd commented on #136
This proposal makes sense, but it will require significant changes in the current codebase. It makes sense to prioritize it over transactions and streams to avoid duplicated work. Also, it would be great if we can somehow parallelize it.

[2020-10-24 01:52] quelgar opened #140 "Add logging capability"
I don't think we need to go overboard with logging, but it would be useful to log when connections and reconnections are occurring, and why. Once we have Sentinel support we'd also want to log the outcomes of Sentinel discovery.

It might also help users debugging apps if there was an option to log a trace of commands and responses?

Probably [zio-logging](https://github.com/zio/zio-logging) is th

[2020-10-24 14:28] #136 closed

[2020-10-24 14:28] mijicd commented on #136
Closed by #139

[2020-10-26 08:42] anovakovic01 commented on #140
I will take this one.

[2020-11-16 17:59] #140 closed

[2020-11-20 10:37] mijicd opened #150 "Implement remaining connection commands"
Extracted from [this comment](https://github.com/zio/zio-redis/issues/68#issuecomment-691777714) authored by @regis-leray.

### Commands

- [ ] CLIENT CACHING YES|NO Instruct the server about tracking or not keys in the next request
- [ ] CLIENT ID Returns the client ID for the current connection
- [ ] CLIENT KILL [ip:port] [ID client-id] [TYPE normal|master|slave|pubsub] [USER username] [ADDR ip:

[2020-11-20 10:39] mijicd opened #151 "Implement cluster API"
Extracted from [this comment](https://github.com/zio/zio-redis/issues/68#issuecomment-691777714) authored by @regis-leray.

### Commands

- [x] CLUSTER ASK When a cluster client receives an -ASK redirect, command is sent to the target node followed by the command which was redirected.
- [ ] CLUSTER ADDSLOTS slot [slot ...] Assign new hash slots to receiving node
- [ ] CLUSTER BUMPEPOCH Advance the

[2020-11-20 10:42] mijicd opened #152 "Implement remaining hash commands"
Extracted from [this comment](https://github.com/zio/zio-redis/issues/68#issuecomment-691777714) authored by @regis-leray.

### Commands

- [x] HMSET key field value [field value ...] Set multiple hash fields to multiple values

### Tips

- Define the API in `zio.redis.api`.
- Command-specific options should be defined in `zio.redis.options`.
- Additional inputs and outputs can be defined in `zio.

[2020-11-20 10:43] mijicd opened #153 "Implement remaining list commands"
Extracted from [this comment](https://github.com/zio/zio-redis/issues/68#issuecomment-691777714) authored by @regis-leray.

### Commands

- [ ] LPOS key element [RANK rank] [COUNT num-matches] [MAXLEN len] Return the index of matching elements on a list
- [ ] SORT key [BY pattern] [LIMIT offset count] [GET pattern [GET pattern ...]] [ASC|DESC] [ALPHA] [STORE destination] Sort the elements in a lis

[2020-11-20 10:45] mijicd opened #154 "Implement remaining set commands"
Extracted from [this comment](https://github.com/zio/zio-redis/issues/68#issuecomment-691777714) authored by @regis-leray.

### Commands

- [ ] SINTERSTORE destination key [key ...] Intersect multiple sets and store the resulting set in a key

### Tips

- Define the API in `zio.redis.api`.
- Command-specific options should be defined in `zio.redis.options`.
- Additional inputs and outputs can be d

[2020-11-20 10:46] mijicd opened #155 "Implement remaining string commands"
Extracted from [this comment](https://github.com/zio/zio-redis/issues/68#issuecomment-691777714) authored by @regis-leray.

### Commands

- [ ] STRALGO LCS algo-specific-argument [algo-specific-argument ...] Run algorithms (currently LCS) against strings

### Tips

- Define the API in `zio.redis.api`.
- Command-specific options should be defined in `zio.redis.options`.
- Additional inputs and outp

[2020-11-20 10:47] mijicd opened #156 "Implement transactions API"
Extracted from [this comment](https://github.com/zio/zio-redis/issues/68#issuecomment-691777714) authored by @regis-leray.

### Commands

- [ ] DISCARD Discard all commands issued after MULTI
- [ ] EXEC Execute all commands issued after MULTI
- [ ] MULTI Mark the start of a transaction block
- [ ] UNWATCH Forget about all watched keys
- [ ] WATCH key [key ...] Watch the given keys to determine exe

[2020-11-20 10:47] mijicd opened #157 "Implement streams API"
Extracted from [this comment](https://github.com/zio/zio-redis/issues/68#issuecomment-691777714) authored by @regis-leray.

### Commands

- [x] XINFO [CONSUMERS key groupname] [GROUPS key] [STREAM key] [HELP] Get information on streams and consumer groups
- [x] XADD key ID field value [field value ...] Appends a new entry to a stream
- [x] XTRIM key MAXLEN [~] count Trims the stream to (approximat

[2020-11-20 10:48] mijicd opened #158 "Implement scripting API"
Extracted from [this comment](https://github.com/zio/zio-redis/issues/68#issuecomment-691777714) authored by @regis-leray.

### Commands

- [x] EVAL script numkeys key [key ...] arg [arg ...] Execute a Lua script server side
- [x] EVALSHA sha1 numkeys key [key ...] arg [arg ...] Execute a Lua script server side
- [ ] SCRIPT DEBUG YES|SYNC|NO Set the debug mode for executed scripts.
- [x] SCRIPT EX

[2020-11-20 10:49] mijicd opened #159 "Implement server API"
Extracted from [this comment](https://github.com/zio/zio-redis/issues/68#issuecomment-691777714) authored by @regis-leray.

### Commands

- [ ] ACL LOAD Reload the ACLs from the configured ACL file
- [ ] ACL SAVE Save the current ACL rules in the configured ACL file
- [ ] ACL LIST List the current ACL rules in ACL config file format
- [ ] ACL USERS List the username of all the configured ACL rules

[2020-11-20 10:50] mijicd opened #160 "Implement pub/sub API"
Extracted from [this comment](https://github.com/zio/zio-redis/issues/68#issuecomment-691777714) authored by @regis-leray.

### Commands

- [ ] PSUBSCRIBE pattern [pattern ...] Listen for messages published to channels matching the given patterns
- [ ] PUBSUB subcommand [argument [argument ...]] Inspect the state of the Pub/Sub subsystem
- [ ] PUBLISH channel message Post a message to a channel
-

[2020-11-20 10:51] mijicd commented on #68
I have split this in multiple subtickets to make it a bit more hackathon friendly :).

[2020-11-20 10:51] #68 closed

[2020-11-20 11:11] #154 closed

[2020-11-20 11:11] mijicd commented on #154
Already implemented as suggested by @anovakovic01 .

[2020-11-20 15:19] mijicd opened #162 "Benchmark protocol codecs"
Measure the performance of protocol codecs using JMH.

### Tips

- Add all benchmarks to `benchmarks` project.
- Please aim for 10-15 warmup and 10-15 benchmarking iterations. Make sure to submit the results as part of the pull request description.
- Feel free to tackle "low-hanging fruit" optimizations but prefer opening an issue for larger ones.
- Make sure to link the ticket in the pull request

[2020-11-20 15:31] mijicd opened #163 "Benchmark keys API"
Measure the performance of the most frequently used commands from the keys API. Please make sure to benchmark each command using the following client libraries:

- [zio-redis](https://github.com/zio/zio-redis) :)
- [redis4cats](https://github.com/profunktor/redis4cats)
- [laserdisc](https://github.com/laserdisc-io/laserdisc)
- [rediculous](https://github.com/ChristopherDavenport/rediculous)

Since

[2020-11-20 15:31] mijicd opened #164 "Benchmark list API"
Measure the performance of the most frequently used commands from the list API. Please make sure to benchmark each command using the following client libraries:

- [zio-redis](https://github.com/zio/zio-redis) :)
- [redis4cats](https://github.com/profunktor/redis4cats)
- [laserdisc](https://github.com/laserdisc-io/laserdisc)
- [rediculous](https://github.com/ChristopherDavenport/rediculous)

Since

[2020-11-20 15:32] mijicd opened #165 "Benchmark sets API"
Measure the performance of the most frequently used commands from the sets API. Please make sure to benchmark each command using the following client libraries:

- [zio-redis](https://github.com/zio/zio-redis) :)
- [redis4cats](https://github.com/profunktor/redis4cats)
- [laserdisc](https://github.com/laserdisc-io/laserdisc)
- [rediculous](https://github.com/ChristopherDavenport/rediculous)

Since

[2020-11-20 15:32] mijicd opened #166 "Benchmark sorted sets API"
Measure the performance of the most frequently used commands from the sorted sets API. Please make sure to benchmark each command using the following client libraries:

- [zio-redis](https://github.com/zio/zio-redis) :)
- [redis4cats](https://github.com/profunktor/redis4cats)
- [laserdisc](https://github.com/laserdisc-io/laserdisc)
- [rediculous](https://github.com/ChristopherDavenport/rediculous)

[2020-11-20 15:33] mijicd opened #167 "Benchmark hashes API"
Measure the performance of the most frequently used commands from the hashes API. Please make sure to benchmark each command using the following client libraries:

- [zio-redis](https://github.com/zio/zio-redis) :)
- [redis4cats](https://github.com/profunktor/redis4cats)
- [laserdisc](https://github.com/laserdisc-io/laserdisc)
- [rediculous](https://github.com/ChristopherDavenport/rediculous)

Sin

[2020-11-20 15:33] mijicd opened #168 "Benchmark strings API"
Measure the performance of the most frequently used commands from the strings API. Please make sure to benchmark each command using the following client libraries:

- [zio-redis](https://github.com/zio/zio-redis) :)
- [redis4cats](https://github.com/profunktor/redis4cats)
- [laserdisc](https://github.com/laserdisc-io/laserdisc)
- [rediculous](https://github.com/ChristopherDavenport/rediculous)

Si

[2020-11-20 15:39] mijicd opened #169 "Develop testable RedisExecutor"
Design and implement a test Redis executor (check out [this module](https://github.com/zio/zio-redis/blob/master/redis/src/main/scala/zio/redis/Interpreter.scala)).

Ideally, the test executor would execute all of the commands backed by some in-memory structures. I propose to expose the test implementation in the same module via additional layer constructors.

Since this ticket will be involving,

[2020-11-20 15:42] mijicd commented on #66
Splitted.

[2020-11-20 15:42] #66 closed

[2020-11-20 19:47] kostjas commented on #168
:raised_hand:

[2020-11-20 19:49] mijicd commented on #168
@kostjas Let the hackathon begin, all yours! If someone is willing to join, please share the ideas here :).

[2020-11-20 20:27] quelgar commented on #169
Just a minor point while I think of it, the `RespValue.NullValue` will need to be split into two, as RESP actually has two kinds of null: a null bulk string and a null array. These are currently both represented by the same value because a client only ever reads null arrays, it never needs to create them.

[2020-11-20 21:00] visox commented on #160
Hi, i can go for it. I probably go from top to bottom but its not that much so if i manage to do one i probably i can make it all.

[2020-11-20 21:06] mijicd commented on #160
@visox That sounds good. And I agree, it's perfectly fine to split this one, as you might need to adjust the executor occasionally to support it properly (e.g. separate queue / connection).

[2020-11-20 22:39] mschuwalow commented on #169
I'll take this one

[2020-11-20 23:39] rfmejia commented on #152
I'm working on this ticket, are my assumptions correct?

- Input type: same as HSET
- Output type: simple string reply from Redis is mapped to `OptionalOutput(UnitOutput)`

Also is there any special handling we need since HMSET is deprecated in Redis 4?

[2020-11-20 23:53] jadireddi commented on #153
Will work on this

[2020-11-21 00:01] mijicd opened #171 "Document keys API"
The current keys API (see `zio.redis.api.Keys`) exposes functions with argument names that are generic and meaningless. I propose to rename those to match those used in the [official documentation](https://redis.io/commands). Additionally, it would be great to provide a small, single-sentence scaladoc for them.

[2020-11-21 00:03] mijicd opened #172 "Document connection API"
The current connection API (see `zio.redis.api.Connection`) exposes functions with argument names that are generic and meaningless. I propose to rename those to match those used in the [official documentation](https://redis.io/commands). Additionally, it would be great to provide a small, single-sentence scaladoc for them.

[2020-11-21 00:03] mijicd opened #173 "Document hashes API"
The current hashes API (see `zio.redis.api.Hashes`) exposes functions with argument names that are generic and meaningless. I propose to rename those to match those used in the [official documentation](https://redis.io/commands). Additionally, it would be great to provide a small, single-sentence scaladoc for them.

[2020-11-21 00:04] mijicd opened #174 "Document HyperLogLog API"
The current HLL API (see `zio.redis.api.HyperLogLog`) exposes functions with argument names that are generic and meaningless. I propose to rename those to match those used in the [official documentation](https://redis.io/commands). Additionally, it would be great to provide a small, single-sentence scaladoc for them.

[2020-11-21 00:04] mijicd opened #175 "Document geo API"
The current geo API (see `zio.redis.api.Geo`) exposes functions with argument names that are generic and meaningless. I propose to rename those to match those used in the [official documentation](https://redis.io/commands). Additionally, it would be great to provide a small, single-sentence scaladoc for them.

[2020-11-21 00:05] mijicd opened #176 "Document lists API"
The current lists API (see `zio.redis.api.Lists`) exposes functions with argument names that are generic and meaningless. I propose to rename those to match those used in the [official documentation](https://redis.io/commands). Additionally, it would be great to provide a small, single-sentence scaladoc for them.

[2020-11-21 00:05] mijicd opened #177 "Document sets API"
The current sets API (see `zio.redis.api.Sets`) exposes functions with argument names that are generic and meaningless. I propose to rename those to match those used in the [official documentation](https://redis.io/commands). Additionally, it would be great to provide a small, single-sentence scaladoc for them.

[2020-11-21 00:06] mijicd opened #178 "Document sorted sets API"
The current sorted sets API (see `zio.redis.api.SortedSets`) exposes functions with argument names that are generic and meaningless. I propose to rename those to match those used in the [official documentation](https://redis.io/commands). Additionally, it would be great to provide a small, single-sentence scaladoc for them.

[2020-11-21 00:06] mijicd opened #179 "Document strings API"
The current strings API (see `zio.redis.api.Strings`) exposes functions with argument names that are generic and meaningless. I propose to rename those to match those used in the [official documentation](https://redis.io/commands). Additionally, it would be great to provide a small, single-sentence scaladoc for them.

[2020-11-21 00:10] anovakovic01 commented on #152
@rfmejia Your assumption in regard to the `HMSET` input type is correct. Output time should be just `UnitOutput`.

I think that there is no need for any special handling, except to maybe it as part of scaladoc.

[2020-11-21 00:11] mijicd commented on #152
@rfmejia Additionally, you can mark this function as deprecated just to reflect its current status. I was thinking whether to expose it at all, but, it turns out to be still in use :).

Thank you for taking care of this!

[2020-11-21 00:55] visox commented on #160
i made WIP pr with some question, plz take a look https://github.com/zio/zio-redis/pull/181 @mijicd
thx, will continue tomorrow.

[2020-11-21 01:59] justinhj commented on #179
I am starting on this

[2020-11-21 02:49] quelgar commented on #78
I'll tackle this for the Hackathon.

[2020-11-21 03:33] justinhj commented on #179
https://github.com/zio/zio-redis/pull/183

[2020-11-21 04:35] rfmejia commented on #152
@mijicd I've implemented HMSET and added tests similar to HSET.

One thing I've found was HMGET originally parsed using `Chunk[String]`, but it would throw a `ProtocolError` if the return array contains a "(nil)" when queried with non-existent fields. I changed its parse output type to `Chunk[Option[String]]` where `NullOutput` is represented as a `None` value.

[2020-11-21 04:40] rfmejia commented on #152
@mijicd Also, I've added the deprecation notice on its scaladoc. I've tried annotating the function with `@deprecated` but the test will not compile due to the "-Xfatal-warnings" flag. Should I leave it as a scaladoc or remove the compiler flag during testing?

[2020-11-21 04:54] quelgar commented on #157
I'll have a go at this.

[2020-11-21 04:57] justinhj commented on #178
i will do this one

[2020-11-21 04:59] justinhj commented on #177
I have this one in progress

[2020-11-21 09:10] rfmejia commented on #155
I've started to look into this

[2020-11-21 09:17] gagandeepkalra commented on #171
I'd like to work this one.

[2020-11-21 09:32] aleksandarskrbic commented on #178
I'll take this one!

[2020-11-21 09:45] #78 closed

[2020-11-21 10:00] mijicd commented on #152
@rfmejia great catch for options. You can remove `@deprecated` completely then. Just a remark in scaladoc is enough.

[2020-11-21 10:03] helanto commented on #176
I can take this one

[2020-11-21 10:04] mijicd commented on #176
@helanto all yours!

[2020-11-21 10:13] #177 closed

[2020-11-21 10:22] anovakovic01 commented on #171
In order to be consistent, I suggest that all scaladoc comments include `@param` and `@return` (where return value exists).
Here is an example:
[code]

For more details check [documentation](https://docs.scala-lang.org/style/scaladoc.html).

[2020-11-21 10:22] anovakovic01 commented on #172
In order to be consistent, I suggest that all scaladoc comments include `@param` and `@return` (where return value exists).
Here is an example:
[code]

For more details check [documentation](https://docs.scala-lang.org/style/scaladoc.html).

[2020-11-21 10:23] anovakovic01 commented on #173
In order to be consistent, I suggest that all scaladoc comments include `@param` and `@return` (where return value exists).
Here is an example:
[code]

For more details check [documentation](https://docs.scala-lang.org/style/scaladoc.html).

[2020-11-21 10:23] anovakovic01 commented on #174
In order to be consistent, I suggest that all scaladoc comments include `@param` and `@return` (where return value exists).
Here is an example:
[code]

For more details check [documentation](https://docs.scala-lang.org/style/scaladoc.html).

[2020-11-21 10:23] anovakovic01 commented on #175
In order to be consistent, I suggest that all scaladoc comments include `@param` and `@return` (where return value exists).
Here is an example:
[code]

For more details check [documentation](https://docs.scala-lang.org/style/scaladoc.html).

[2020-11-21 10:23] anovakovic01 commented on #176
In order to be consistent, I suggest that all scaladoc comments include `@param` and `@return` (where return value exists).
Here is an example:
[code]

For more details check [documentation](https://docs.scala-lang.org/style/scaladoc.html).

[2020-11-21 10:23] anovakovic01 commented on #178
In order to be consistent, I suggest that all scaladoc comments include `@param` and `@return` (where return value exists).
Here is an example:
[code]

For more details check [documentation](https://docs.scala-lang.org/style/scaladoc.html).

[2020-11-21 10:24] anovakovic01 commented on #179
In order to be consistent, I suggest that all scaladoc comments include `@param` and `@return` (where return value exists).
Here is an example:
[code]

For more details check [documentation](https://docs.scala-lang.org/style/scaladoc.html).

[2020-11-21 10:38] aleksandarskrbic commented on #178
@anovakovic01 I've already seen suggestions on other PR, thanks!

[2020-11-21 10:54] rby commented on #151
I'll take a look at this.

[2020-11-21 10:54] rfmejia commented on #152
@mijicd The PR should be ready for review then, the scaladoc already contains the deprecation notice.

[2020-11-21 10:55] mijicd commented on #151
@rby Nice, thanks for taking care of this. Note that this might be a significant chunk of work, so feel free to split it in whatever way you find convenient. You might have to adjust, or separate communication channels here.

[2020-11-21 10:56] mijicd commented on #152
@rfmejia already reviewed :)

[2020-11-21 11:35] mschuwalow opened #190 "Add connection api to test executor"
The [test executor](https://github.com/zio/zio-redis/blob/master/redis/src/main/scala/zio/redis/Interpreter.scala#L80) currently only supports a subset of the api.
The goal of this issue is to support the full connection api in the test executor. Tests should be added for all commands that are not currently being tested.

[2020-11-21 11:37] mschuwalow opened #191 "Add geo api to test executor"
The [test executor](https://github.com/zio/zio-redis/blob/master/redis/src/main/scala/zio/redis/Interpreter.scala#L80) currently only supports a subset of the api.
The goal of this issue is to support the full geo api in the test executor. Tests for this group should be enabled for the test executor [here](https://github.com/zio/zio-redis/blob/master/redis/src/test/scala/zio/redis/ApiSpec.scala#L3

[2020-11-21 11:38] mschuwalow opened #192 "Add hashes api to test executor"
The [test executor](https://github.com/zio/zio-redis/blob/master/redis/src/main/scala/zio/redis/Interpreter.scala#L80) currently only supports a subset of the api.
The goal of this issue is to support the full hashes api in the test executor. Tests for this group should be enabled for the test executor [here](https://github.com/zio/zio-redis/blob/master/redis/src/test/scala/zio/redis/ApiSpec.scala

[2020-11-21 11:38] mschuwalow opened #193 "Add hyperloglog api to test executor"
The [test executor](https://github.com/zio/zio-redis/blob/master/redis/src/main/scala/zio/redis/Interpreter.scala#L80) currently only supports a subset of the api.
The goal of this issue is to support the full hyperloglog api in the test executor. Tests for this group should be enabled for the test executor [here](https://github.com/zio/zio-redis/blob/master/redis/src/test/scala/zio/redis/ApiSpec.

[2020-11-21 11:39] mschuwalow opened #194 "Add keys api to test executor"
The [test executor](https://github.com/zio/zio-redis/blob/master/redis/src/main/scala/zio/redis/Interpreter.scala#L80) currently only supports a subset of the api.
The goal of this issue is to support the full keys api in the test executor. Tests for this group should be enabled for the test executor [here](https://github.com/zio/zio-redis/blob/master/redis/src/test/scala/zio/redis/ApiSpec.scala#L

[2020-11-21 11:39] mschuwalow opened #195 "Add lists api to test executor"
The [test executor](https://github.com/zio/zio-redis/blob/master/redis/src/main/scala/zio/redis/Interpreter.scala#L80) currently only supports a subset of the api.
The goal of this issue is to support the full lists api in the test executor. Tests for this group should be enabled for the test executor [here](https://github.com/zio/zio-redis/blob/master/redis/src/test/scala/zio/redis/ApiSpec.scala#

[2020-11-21 11:40] mschuwalow opened #196 "Add sets api to test executor"
The [test executor](https://github.com/zio/zio-redis/blob/master/redis/src/main/scala/zio/redis/Interpreter.scala#L80) currently only supports a subset of the api.
The goal of this issue is to support the full sets api in the test executor. Tests for this group should be enabled for the test executor [here](https://github.com/zio/zio-redis/blob/master/redis/src/test/scala/zio/redis/ApiSpec.scala#L

[2020-11-21 11:40] mschuwalow opened #197 "Add sortedsets api to test executor"
The [test executor](https://github.com/zio/zio-redis/blob/master/redis/src/main/scala/zio/redis/Interpreter.scala#L80) currently only supports a subset of the api.
The goal of this issue is to support the full sortedsets api in the test executor. Tests for this group should be enabled for the test executor [here](https://github.com/zio/zio-redis/blob/master/redis/src/test/scala/zio/redis/ApiSpec.s

[2020-11-21 11:40] mschuwalow opened #198 "Support strings api in test executor"
The [test executor](https://github.com/zio/zio-redis/blob/master/redis/src/main/scala/zio/redis/Interpreter.scala#L80) currently only supports a subset of the api.
The goal of this issue is to support the full strings api in the test executor. Tests for this group should be enabled for the test executor [here](https://github.com/zio/zio-redis/blob/master/redis/src/test/scala/zio/redis/ApiSpec.scal

[2020-11-21 11:44] mijicd commented on #169
The design is provided in #180, closing this in favor of:

- https://github.com/zio/zio-redis/issues/190
- https://github.com/zio/zio-redis/issues/191
- https://github.com/zio/zio-redis/issues/192
- https://github.com/zio/zio-redis/issues/193
- https://github.com/zio/zio-redis/issues/194
- https://github.com/zio/zio-redis/issues/195
- https://github.com/zio/zio-redis/issues/196
- https://github.co

[2020-11-21 11:44] #169 closed

[2020-11-21 11:46] mschuwalow commented on #169
An initial skeleton has been added. Further work is tracked in the following issues:
- [ ] Connection API - https://github.com/zio/zio-redis/issues/190
- [ ] Geo API - https://github.com/zio/zio-redis/issues/191
- [ ] Hashes API - https://github.com/zio/zio-redis/issues/192
- [ ] HyperLogLog API - https://github.com/zio/zio-redis/issues/193
- [ ] Keys API - https://github.com/zio/zio-redis/issues/

[2020-11-21 11:48] mschuwalow commented on #196
I'm taking this one

[2020-11-21 13:06] mijicd opened #202 "Develop an example application"
Create a small HTTP service that fetches contributors to the specified project.

### API

- Endpoint: `/owners/{owner}/projects/{project}/contributors`
- Method: **GET**
- Response codes:
  - 200 with list of contributors if it succeeds
  - 404 if no resource exists
  - 500 for all other errors
- Response body:

[code]

### Tech stack

- akka-http or http4s
- sttp
- zio-json
- zio-redis :)
- zio-c

[2020-11-21 13:16] aleksandarskrbic commented on #202
In progress! 😀

[2020-11-21 13:32] #176 closed

[2020-11-21 15:52] justinhj commented on #179
I’ve followed this recommendation from the guidelines btw

Try to format the first sentence of a method as “Returns XXX”, as in “Returns the first element of the List”, as opposed to “this method returns” or “get the first” etc. Methods typically return things.

[2020-11-21 16:02] rby commented on #151
I did some exploration, but got stuck on an issue with the protocol when clustering is enabled:
basically this is a telnet session with a cluster:
[code]
vs, with a standalone:
[code]
so all tests are broken already :-)

[2020-11-21 16:16] mijicd commented on #151
@rby that is somewhat expected as clustering works a bit differently. I'm afraid we'll need to have a separate executor to support that.

[2020-11-21 16:51] rby commented on #151
progress [so far](https://github.com/rby/zio-redis/commit/8f842a1b942cb50c740d1566cdf3e5addb712299)

- the `docker-compose-cluster.yml` should help with tests/integration

I guess the next step is to split a task for a `RedisClusterExecutor` or similar?

[2020-11-21 16:54] mijicd commented on #151
I'd propose to have a minimal working version in this PR, i.e. connecting to cluster fully works. Once that's in place, the other commands can go in separate PRs.

[2020-11-21 17:09] #179 closed

[2020-11-21 17:56] mschuwalow commented on #196
Most of the API is done, feel free to do the remaining ones.

For [SRANDMEMBER](https://redis.io/commands/srandmember) we probably want something similar to [TRandom](https://github.com/zio/zio-keeper/blob/master/keeper/src/main/scala/zio/keeper/hyparview/TRandom.scala) in keeper

[2020-11-21 18:00] justinhj opened #208 "Scan functions have inconsistent API"
The Scan functions, SSCAN for example, take the cursor as a Long but the subsequent cursor in the return value is a String

[code]

Returns `ZIO[RedisExecutor, RedisError, (String, Chunk[String])]`

This creates a burden on the user to (safely) convert the cursor to a Long for the next iteration. For example:

[code]

[2020-11-21 18:03] mijicd commented on #208
Good catch!

[2020-11-21 18:04] anovakovic01 commented on #208
@justinhj Thanks for the report, if you want to fix it, it should be an easy fix. Just cast string to long in the `ScanOutput`.

[2020-11-21 18:06] justinhj commented on #208
@anovakovic01 Sounds good I will give it a shot

[2020-11-21 18:10] mijicd commented on #151
@rby I think it might be worth to check https://github.com/antirez/redis-rb-cluster for some ideas how to implement the new executor or modify the existing one.

[2020-11-21 19:10] mijicd commented on #178
Closed in #189

[2020-11-21 19:10] #178 closed

[2020-11-21 20:15] #208 closed

[2020-11-21 20:20] asjad02 commented on #198
@mijicd picking this up

[2020-11-21 20:21] mijicd commented on #198
@asjad02 all yours, thanks for tackling it :pray:

[2020-11-21 20:41] rby commented on #151
@mijicd yup that's what I've been doing the last couple of hours.
My guess is:
- implement `cluster nodes` command and make it available in the `RedisExecutor`
- a Layer to build some kind of `ClusterRedisExecutor` from a non empty list of `RedisExecutor` (startup nodes)
- the layer needs to call `cluster nodes` on the first available node
- build the pool of nodes if needed
- then from there try

[2020-11-21 20:44] mijicd commented on #151
@rby Sounds good to me.

Perhaps there's a chance to reuse the existing executor, but just build it differently, by passing the CRC stuff while building layer, but this is just me speaking out loud.

Regarding the difficulty, I didn't mark it as a good first issue for reason(s) :). However, if we'd manage to have a poc of a single command, that would be amazing.

[2020-11-21 20:53] mijicd opened #212 "Remove flakiness from scan tests"
All scan commands accepts count of the elements to retrieve. However, according to the official docs that count might be ignored:

[code]

To avoid flaky tests [like these](https://app.circleci.com/pipelines/github/zio/zio-redis/447/workflows/2c18f1a2-08da-4a54-8f73-c93a468d15cf/jobs/2653), I propose to rewrite them in a way that would repeat the scan until the returned cursor is zero, and assert

[2020-11-21 21:38] justinhj commented on #212
yeah i was worried about this. the count is a hint 🤪

[2020-11-21 22:39] quelgar commented on #150
I think support for `CLIENT REPLY` should be a separate ticket, as it requires support in the executor to work. I think we'd need an API that puts the executor into "no reply/skip reply" mode, which would issue the `CLIENT REPLY` command and set some internal state to know not to expect replies.

[2020-11-21 22:47] mijicd commented on #150
@quelgar Makes perfect sense. Let's pull that one out and tackle separately. It's something we can add post `v0.1.0` for sure :).

[2020-11-22 00:00] helanto commented on #196
@mschuwalow I can try to implement the remaining parts

[2020-11-22 00:13] justinhj commented on #212
I'll make a start on this

[2020-11-22 00:14] mijicd commented on #212
All yours, thanks!

[2020-11-22 01:02] quelgar opened #214 "API for binary data"
There are many cases where the public API uses `String` where Redis supports arbitrary binary data. To use the Redis parlance, all bulk strings are "binary safe".

Taking the `SET` command for example, Redis supports arbitrary bytes for both the value and the key, meaning we should offer an API along the lines of:

[code]

However, it will be extremely common in practice for users to want to use `

[2020-11-22 08:15] #152 closed

[2020-11-22 08:15] #174 closed

[2020-11-22 08:18] #175 closed

[2020-11-22 08:31] mijicd commented on #214
I'm absolutely for it. The additional benefit - our API becomes less "stringly" typed. Typeclass approach is fine, we can provide the standard instances in companions and we'd still be adhering to that "have a single import" rule.

[2020-11-22 10:38] #173 closed

[2020-11-22 11:31] gagandeepkalra opened #218 "Add `sort` command to the Keys api"
sort is the only command that's missing from the list.

refer [here](https://redis.io/commands/sort)

[2020-11-22 11:34] gagandeepkalra opened #219 "Fix `exists` command return type from the Keys api"
When there are multiple keys, `exists` command can return an integer greater than 1, in that case our code would throw trying to interpret the result to a Boolean.

please refer this [thread](https://github.com/zio/zio-redis/pull/217#discussion_r528308091).

[2020-11-22 11:44] gagandeepkalra opened #220 "Change input type arguments from `Long` to `Duration` for time use cases"
Redis api at times requires `time` values with different precision scales, rather than passing this cognitive load to the user for computing the correct `long` value each time, we can have base input type to be `Duration` instead.

Refer `Keys#{migrate, restore, wait_}`

[2020-11-22 11:46] gagandeepkalra opened #221 "Add `stream` to `RedisType`"
refer [here](https://redis.io/commands/type)

[2020-11-22 11:57] #171 closed

[2020-11-22 13:06] anovakovic01 opened #222 "Add GET option to the SET command"
`SET` command got `GET` optional parameter in Redis version 6.2. This option will also affect the format of the command output. For more information go [here](https://redis.io/commands/set).

**Note:** This one is not the priority. Let's wait for it to be stable enough and then we can add it to `zio-redis`.

[2020-11-22 14:51] helanto commented on #172
I can take this one

[2020-11-22 16:04] mijicd commented on #168
Most of it is tackled in #183 . Additional benchmarks can be added independently.

[2020-11-22 16:04] #168 closed

[2020-11-22 17:09] #196 closed

[2020-11-22 18:18] rby commented on #151
@mijicd I made some progress, I'll try to test what I have so far without docker-compose as nodes weren't reachable when topology fetched through `cluster info` command.

[2020-11-22 18:31] rby commented on #151
All right, I have a test that passes with `sAdd, sCard` :-)

[2020-11-22 19:17] mijicd commented on #212
Closed in #215

[2020-11-22 19:18] #212 closed

[2020-11-22 23:31] #172 closed

[2020-11-23 19:37] mijicd commented on #151
@rby wow, nice. Sorry for the late response, I'll take a look at it. Btw. you could open up a draft PR so that everyone can chime in there.

[2020-11-29 03:11] justinhj commented on #220
Will take this

[2020-11-29 08:48] aartigao commented on #218
I'm working on this.

[2020-11-29 22:29] anovakovic01 commented on #157
Features that are supported in the Redis version 6.2+:
- `CREATECONSUMER` subcommand for `XGROUP`,
- `IDLE` option for `XPENDING`.

[2020-11-29 23:01] mijicd commented on #157
@anovakovic01 I propose closing this ticket and opening the new one for the functionality you just mentioned. Since this is something we're not able to support at the moment, let's create a separate label for it.

[2020-11-29 23:28] anovakovic01 opened #232 "Add tests for streams input and output"
Tests should be written for the following classes:
- `IdleInput`,
- `TimeInput`,
- `RetryCountInput`,
- `XGroupCreateInput`,
- `XGroupSetIdInput`,
- `XGroupDestroyInput`,
- `XGroupCreateConsumerInput`,
- `XGroupDelConsumerInput`,
- `BlockInput`,
- `StreamsInput`,
- `GroupInput`,
- `NoAckInput`,
- `MaxLenInput`,
- `WithForceInput`,
- `WithJustIdInput`,
- `StreamOutput`,
- `XPendingOutput`,
- `Pendi

[2020-11-29 23:31] anovakovic01 opened #233 "Add support for the XINFO command"
Add support for the `XINFO [CONSUMERS key groupname] [GROUPS key] [STREAM key] [HELP]` command in order to have full support for the Redis Streams (#157). Tests should also be added for this command.

[2020-11-30 08:31] helanto commented on #221
I can give this one a try.

[2020-12-03 05:44] gagandeepkalra commented on #219
@mijicd I'd like to attempt this

[2020-12-03 11:52] #202 closed

[2020-12-03 22:19] mijicd commented on #219
@gagandeepkalra all yours, thank you :pray:

[2020-12-09 09:46] #221 closed

[2020-12-09 09:47] #219 closed

[2020-12-13 22:41] #232 closed

[2020-12-20 10:01] anovakovic01 commented on #220
Resolved in #230.

[2020-12-20 10:01] #220 closed

[2021-01-11 22:22] anatolysergeev commented on #151
@rby hello. I wonder, would you continue work on that issue? 2 months have passed since you started, mb you need some help or if you don't want to do that issue anymore, I can replace you?
Sorry, no offences. I need this functionality for my projects at work.))
With appreciation)

[2021-01-11 23:19] rby commented on #151
@anatolysergeev on the contrary it would be great if you take over.
best luck 👍

[2021-02-15 22:16] mijicd commented on #156
Redis transaction API consists of two groups of commands:

- transactions (MULTI, EXEC, DISCARD)
- optimistic locking (WATCH, UNWATCH)

The latter can be (relatively) easily implemented via the existing primitives, while the former requires more attention.

There are a few things to keep in mind:

- "group" transaction commands
- handle intermediate results
- consider having a separate connection

[2021-02-16 08:10] anovakovic01 commented on #156
@mijicd Thanks for the instructions. I think that I've understood the base idea. Draft PR will be sent as soon as I sketch something.

[2021-02-26 09:28] jxnu-liguobin commented on #190
I picked it up

[2021-02-26 09:53] jxnu-liguobin commented on #167
I'm interested in that

[2021-02-26 10:09] mijicd commented on #167
All yours, thank you!

[2021-02-26 12:24] mijicd commented on #190
Closed by @jxnu-liguobin in #294

[2021-02-26 12:24] #190 closed

[2021-03-01 08:06] #167 closed

[2021-03-01 10:16] jxnu-liguobin commented on #233
Did anyone pick it up? I'm interested.

[2021-03-01 21:31] anovakovic01 commented on #233
No one is working on this one at the moment. It's all yours.

[2021-03-05 08:33] jxnu-liguobin commented on #193
I am working.

[2021-03-06 09:36] #193 closed

[2021-03-09 06:17] sloanesturz opened #306 "Split GEO functions by "store" argument"
When you pass a `STORE myKey` argument to the GEORADIUS, redis returns a number signifying how many results were stored -- not the underlying results (which it returns in most cases).

This test case in `GeoSpec.scala` fails with `ProtocolError: Integer(2) is not an array`.

[code]

This is not actually documented on the redis website for GEORADIUS: https://redis.io/commands/georadius.
However, th

[2021-03-09 06:19] sloanesturz commented on #306
This will affect both GEORADIUS and GEORADIUSBYMEMBER

[2021-03-10 07:43] #306 closed

[2021-03-13 15:43] jxnu-liguobin commented on #165
When XInfo PR is finished, I will start to pressure test this.

[2021-03-13 16:59] anovakovic01 opened #312 "Add the FULL option to XINFO STREAM command"
There is no support for FULL option implemented in `zio-redis`. This is not a priority as it works only with Redis version 6.

[2021-03-13 16:59] anovakovic01 commented on #233
Resolved by #301.

[2021-03-13 16:59] #233 closed

[2021-03-14 16:48] KadekM commented on #160
@mijicd @anovakovic01

I'm thinking of tackling this, could you check some rough ideas?

I think this state (whether we are subscribed and expect streamed messages or not) should could inside RedisExecutor, and if we are in _subscribed state_ we push to a different `Queue[RespValue]` instead of current promise based one (current resQueue), since we get values pushed in non-request-response fashion

[2021-03-14 20:55] mijicd commented on #157
Closed in #233 and #301

[2021-03-14 20:55] #157 closed

[2021-03-18 14:48] hcwilhelm opened #320 "Scan command results in error when used with Count and or Type option"
When using the Scan command with Count and or Type option it results in `ProtocolError: syntax error` because of incorrect encodings for the input types `OptionalInput(LongInput)` and `OptionalInput(StringInput)`.

Also although the encoding for the `RegexInput` is correct the use of the `Regex` type itself doesn't fit the `glob-style patterns` which are used by Redis https://redis.io/commands/key

[2021-03-18 15:01] hcwilhelm commented on #320
I take this one.

[2021-03-19 13:44] #320 closed

[2021-03-19 21:40] hcwilhelm commented on #195
@mijicd I take this one, or at least try to do it :)

[2021-03-19 21:42] mijicd commented on #195
@hcwilhelm all yours, thank you!

[2021-03-20 13:37] #165 closed

[2021-03-21 07:33] jxnu-liguobin commented on #312
doing.

I found that some mainstream clients do not support this option. Because the return structure of this option is extremely complex, I may need a new command.(It's very painful to parse the structure)

[2021-03-22 07:52] hcwilhelm opened #324 "Lists API is missing LMOVE command"
The List API is missing the LMOVE command as specified here https://redis.io/commands/lmove

[2021-03-22 07:55] hcwilhelm opened #325 "Lists API is missing LPOS Command"
The Lists API is missing the LPOS Command as specified here https://redis.io/commands/lpos

[2021-03-24 10:13] #195 closed

[2021-03-24 10:20] hcwilhelm opened #329 "Mission options for ZADD"
According to the Redis docs ZADD https://redis.io/commands/zadd ZADD supports `[NX|XX] [GT|LT] [CH] [INCR]` options but the current zio-redis implementation only supports `[NX|XX][CH]` options.

We should implement the missing options and write proper tests for them.

[2021-03-24 11:07] hcwilhelm commented on #324
I take this one

[2021-03-25 14:49] #324 closed

[2021-03-26 03:29] jxnu-liguobin commented on #329
Has anyone started?

[2021-03-26 06:35] hcwilhelm commented on #329
I didn’t start with that you can take it. 👍

[2021-03-26 22:05] #325 closed

[2021-03-27 08:10] jxnu-liguobin opened #334 "Support `GETEX` and `GETDEL `"
see https://redis.io/commands/getex

Available since 6.2.0.

Using one issue, because two commands are relatively easy(I hope so).

[2021-03-29 21:03] #329 closed

[2021-04-07 02:20] jxnu-liguobin commented on #312
closed by #323

[2021-04-07 02:20] #312 closed

[2021-04-08 07:42] hcwilhelm opened #342 "Missing Command HRANDFIELD"
According to https://redis.io/commands/hrandfield Redis support the command HRANDFIELD, but this command is missing in the Hashes API.

## Tasks ##

- [ ] Implement the command
- [ ] Add tests for the command
- [ ] Add support for this command to the TestExecutor

[2021-04-08 09:00] hcwilhelm opened #343 "Return Type not correct for HMSET"
HMSET is returning Unit only if HMSET is called with multiple fields and values, if called with only one field and value it is returning Unit. https://redis.io/commands/hmset

In the current implementation, we always expect Unit.

[code]

## Tasks ##

- [ ] Implement two versions of HMSET depending on the output type
- [ ] Implement tests for the two versions and properly test the different output

[2021-04-08 09:17] #192 closed

[2021-04-08 10:39] #155 closed

[2021-04-08 10:40] jxnu-liguobin commented on #343
As per Redis 4.0.0, HMSET is considered deprecated. Please prefer HSET in new code.

Do we need to mark it?

[2021-04-08 10:43] hcwilhelm commented on #343
Good question, maybe we shouldn't offer HMSET at all.

[2021-04-08 10:46] jxnu-liguobin commented on #343
4.0 is not too old. It can be provided. By the way, when I use the `HMSET`, both get a `OK`. What's the problem?

[2021-04-08 10:50] hcwilhelm commented on #343
You are right there isn't any problem, I misread the example command output. I will close the issue

[2021-04-08 10:50] #343 closed

[2021-04-08 10:51] hcwilhelm commented on #343
This isn't an issue. HMSET returns unit in all cases

[2021-04-10 14:18] #214 closed

[2021-04-12 12:24] hcwilhelm opened #349 "Missing command ZDIFF and ZDIFFSTORE"
For the SortedSet API, the commands ZDIFF and ZDIFFSTORE are missing.

https://redis.io/commands/zdiff
https://redis.io/commands/zdiffstore

## Tasks

- [ ] Implement missing commands in the SortedSet API
- [ ] Implement tests
- [ ] Add support for these commands to the test executor

[2021-04-12 15:23] hcwilhelm opened #350 "Missing command ZINTER"
The ZINTER command for SortedSets is missing https://redis.io/commands/zinter

[2021-04-13 11:52] #334 closed

[2021-04-14 21:47] hcwilhelm opened #351 "Missing Command ZMSCORE"
The Redis command ZMSCORE is missing in the sortedSet API https://redis.io/commands/zmscore

[2021-04-14 22:00] hcwilhelm opened #352 "Commands with RANGE not fully supported"
## Background ##

I was looking into the implementation of the test executor for sorted sets and found that we use scala Range for some commands. But I think this is not reflecting accurately the Redis API.  The Redis API supports min and max parameters as floating-point numbers as well as `-inf` and  `+inf` and open intervals on both min and max buy prepending `(`. Scalas Range class only works w

[2021-04-15 14:49] hcwilhelm opened #353 "Missing Command ZRANDMEMBER"
The ZRANDMEMBER command for the sorted set API is missing https://redis.io/commands/zrandmember

[2021-04-19 14:50] #351 closed

[2021-04-20 21:22] hcwilhelm opened #357 "Missing Command ZUNION"
The ZUNION command is missing in the sorted set API https://redis.io/commands/zunion

[2021-04-27 13:05] anovakovic01 opened #361 "Missing Command XAUTOCLAIM"
The `XAUTOCLAIM` command is missing from Redus Streams API (https://redis.io/commands/xautoclaim).

[2021-05-04 07:53] #357 closed

[2021-05-04 07:55] #350 closed

[2021-05-05 00:46] rfmejia commented on #349
#367 and #368 are PRs for the different commands (implementation and tests). I just came across #363 for the test executor, if the ZDIFF APIs are different I can modify the PRs.

[2021-05-06 07:36] mijicd commented on #349
Closed in #367 and #368

[2021-05-06 07:36] #349 closed

[2021-05-06 07:38] #353 closed

[2021-05-07 19:21] jgoday commented on #342
@hcwilhelm I have try to implement this with this PR #370.
I have implemented two different methods depending on the return value (field or array of fields).
Is this a valid approach ?

[2021-05-07 21:42] hcwilhelm commented on #342
@jgoday i will review it in the next couple of days. But from what you described this approach sounds right to me. We split out different methods depending on the return type.

[2021-06-07 12:41] hcwilhelm commented on #198
@asjad02 are you still on it? Would it be ok if I take that over?

[2021-06-07 13:26] mijicd commented on #197
Closed in https://github.com/zio/zio-redis/pull/363

[2021-06-07 13:26] #197 closed

[2021-06-07 14:11] asjad02 commented on #198
@hcwilhelm  unfortunately unable to work on the issue. You can go ahead.

[2021-06-07 14:13] hcwilhelm commented on #198
@asjad02 @mijicd Ok then I am going to work on Strings API support

[2021-07-20 15:06] mijicd opened #415 "Rewrite the example using ZIO libraries"
With zio-json and zio-http out there, it makes sense to rewrite the example using them.

For the sake of simplicity, the implementer should preserve the existing scenario, i.e., retrieving project contributors via GitHub API. Once the example is ported, we can think about making additional scenarios.

[2021-07-20 15:06] mijicd commented on #415
cc @mvelimir

[2021-07-20 16:14] paulpdaniels commented on #415
I don't mind taking this one.

[2021-07-20 18:27] mijicd commented on #415
@paulpdaniels all yours, thanks!

[2021-07-24 14:52] #415 closed

[2021-07-24 14:57] mijicd opened #418 "Fix wrong type failures with set operations"
See [this build](https://github.com/zio/zio-redis/runs/3150937920) for more details.

[2021-07-24 20:26] anovakovic01 commented on #418
It looks like the output for the ZRANDMEMBER command is not properly passed. I'm not sure why this wasn't visible on the CI when the actual bug was introduced.

[2021-07-24 21:59] anovakovic01 commented on #418
This is what happened:
- some of the command output types (ZRANDMEMBER and SINTER) were in sync with the Redis 6.2 implementation at the time,
- when the Redis version 6.2.5 was released, our CI pulled it and tests started failing because the command behaviour changed.

Here is an example of such change from the Redis 6.2.5 release notes:

  Was using a null array instead of an empty array.

I've

[2021-07-25 06:58] #418 closed

[2021-08-20 07:20] mvelimir commented on #150
Hey @quelgar, can I take over this issue?

[2021-08-20 08:10] barthorre commented on #156
Anyone still working on this?

[2021-08-20 08:16] mijicd commented on #156
@anovakovic01 is, he can share the current state, and perhaps you could pair up.

[2021-08-20 08:20] barthorre commented on #156
Would be happy to assist where I can!

[2021-08-20 08:49] quelgar commented on #150
Go for it 👍

[2021-08-29 14:26] anovakovic01 commented on #156
@barthorre Sorry for not waiting for an update this long. I'm still working on this one, should send a draft PR soon. It should introduce a single abstraction that will unify both transactions and the regular commands. When API is defined we'll need to update the executor to be able to process transactions. Help will be needed on that part.

[2021-09-13 07:08] mvelimir commented on #191
I'll work on this.

[2021-09-29 08:45] mvelimir commented on #164
I'll work on this.

[2021-09-29 12:31] #191 closed

[2021-10-06 08:02] #164 closed

[2021-10-18 20:24] #150 closed

[2021-10-19 19:43] mvelimir opened #460 "Implement CLIENT INFO and CLIENT LIST commands"
## Overview
The library is missing the [CLIENT INFO](https://redis.io/commands/client-info) and [CLIENT LIST](https://redis.io/commands/client-list) commands from the connection API. The client hangs with the current implementation of `RedisExecutor` in regards to those two commands, so `RedisExecutor` would need to be modified in order to support them.
## Tips
* API should be defined in `zio.redi

[2021-10-19 19:49] mvelimir opened #461 "Implement CLIENT REPLY command"
## Overview
The library is missing the [CLIENT REPLY](https://redis.io/commands/client-reply) command from the connection API. The current implementation of the `RedisExecutor` will need to be modified in order to support the functionality of this command.
## Tips
* API should be defined in `zio.redis.api.Connection`.
* Command-specific options should be defined in `zio.redis.options.Connection`.

[2021-10-19 20:58] swoogles opened #462 "Upgrade to ZIO 2.0"
ZIO 2.0 is at Milestone 4, with an RC expected in the next few weeks.
https://github.com/zio/zio/releases/tag/v2.0.0-M4

The API is nearly stable at this point, so any early migration work against this version should pay off towards the official 2.0 release.

The progress is being tracked here:
zio/zio#5470

The Stream Encoding work in progress is the only area where the API might still change bef

[2021-11-01 20:27] mijicd commented on #462
@swoogles Sorry for the delayed response. This is definitely on my radar, especially having in mind the potential improvements to the RedisExecutor. My priority at the moment is to finally wrap up #404, and as soon as that's done, I'm taking care of 2.x compat.

[2021-11-05 12:57] mijicd commented on #462
@swoogles this needs to be postponed until zio-schema adds support for 2.x.

[2021-11-05 13:27] anatolysergeev opened #478 "Scala 3 Support"
Blocked by
- [ ] [zio-schema](https://github.com/zio/zio-schema/issues/50)

[2021-11-19 09:25] mijicd commented on #194
Closed in #480

[2021-11-19 09:25] #194 closed

[2022-01-05 22:19] mijicd commented on #159
All yours. Regarding the chat, let's catch up sometimes next week.

[2022-01-06 12:32] mijicd commented on #158
Implemented by @anatolysergeev in #269

[2022-01-10 08:18] #12 closed

[2022-01-24 16:25] cleliofs commented on #140
Any ETA for when this lib will support Redis Sentinels?

[2022-01-29 22:22] hcwilhelm commented on #159
@mijicd I am slowly making progress on this one. Would you mind taking a look at my branch or would you prefer a draft PR ?

Branch is here: https://github.com/hcwilhelm/zio-redis/tree/server_api

[2022-01-29 22:37] mijicd commented on #159
@hcwilhelm draft PR would be great :pray:

[2022-01-29 22:50] hcwilhelm commented on #159
@mijicd ok, here it is. As mentioned in the PR description please ignore the changes in the ApiSpec object, I mainly removed everything except the test where I am working on.

Draft PR: https://github.com/zio/zio-redis/pull/529

[2022-02-15 10:27] jdegoes opened #548 "Introduce all Redis operations as type-safe methods of RedisExecutor trait"
In order to facilitate better use by layers, which want to consume other services by their interfaces, it would be ideal to add to `RedisExecutor` typed methods for all Redis operations, which simply encode/decode as appropriate.

This way, a service can depend on RedisExecutor, and use its operations, without also directly adding any dependencies into ZIO environment (which would have to be imple

[2022-02-16 06:26] #198 closed

[2022-02-23 10:31] anatolysergeev commented on #548
Recently, we have changed [service structure](https://github.com/zio/zio-redis/pull/552) and i suppose now it should be `Redis` trait. Am i right?

[2022-03-21 07:04] jxnu-liguobin opened #566 "There is a block process when use schema for `case class` on `hGet`"
There are some tests.

This test is work.
[code]
but this one is blocking.
[code]

case class.
[code]

`ZRedisService` use module patter2.0
[code]

in redis, data has stored, so, it's only block at `get` operation:
<img width="442" alt="image" src="https://user-images.githubusercontent.com/29496873/159217194-2e116f89-2768-440b-be22-b0984c94fdac.png">

[2022-03-21 08:00] mijicd commented on #566
@thinkharderdev Could you please check if we are misusing the schema?

[2022-03-21 10:31] thinkharderdev commented on #566
@mijicd I don't see anything obviously wrong but not sure I understand where the schema decoder is being used at all. A known issue in ZIO Schema (https://github.com/zio/zio-schema/issues/168) is that the streaming codecs expect chunks that contain full messages. Not sure if that is related or not.

[2022-03-21 10:38] mijicd commented on #566
Ah sorry, I didn't list the actual decoder usage. It is used in [ArbitraryOutput](https://github.com/zio/zio-redis/blob/master/redis/src/main/scala/zio/redis/Output.scala#L208).

[2022-03-21 10:45] thinkharderdev commented on #566
Yeah, that seems right and it doesn't look like it's using the streaming decoder so I'm guessing the issue I mentioned in previous comment is not relevant

[2022-03-21 11:25] mijicd commented on #566
Yeah, I think the non-streaming decode / encode pair was initiated by us in the first place.

[2022-03-28 02:14] jxnu-liguobin commented on #566
When I replace codec with `zio-scheam-json`, it can work normally.

[2022-04-01 14:29] subotic commented on #462
@mijicd Great library. Thanks for all the work. Can't wait to make the move to it in our backend as soon as ZIO 2.x is supported.

[2022-05-06 13:27] zhiwilliam opened #593 "Please add this good library to maven center"
I like your library and want to introduce it to my project, but I found I cannot import it directly from sbt. So please help me to resolve it.

[2022-05-06 13:42] jxnu-liguobin commented on #593
The project has not been officially released. At present, only snapshot can be used.😂

[2022-05-26 09:06] jxnu-liguobin commented on #462
@mijicd Is it time to upgrade zio 2.0? Or has someone already doing it?

[2022-05-26 09:37] mijicd commented on #462
No one is doing it right now. I believe all the deps are 2.x compatible,
so, if you want it, go for it. Just make sure to keep it on series/2.x
branch.

On Thu, May 26, 2022, 11:06 AM 梦境迷离 ***@***.***> wrote:

[2022-05-27 06:22] jxnu-liguobin commented on #462
@mijicd The main work is done, but now it can't create connection and need help as pr show.

[2022-07-14 08:43] jgoday commented on #460
Hi, I have tried to implement it in this #612

[2022-07-14 21:55] jgoday opened #613 "BulkString with newline character at the end causes process to lock"
If a bulkString has a '\n' at the end of the actual string data, RespValue Decoder produces a lock in the current RedisExecutor.

One way to reproduce it is using PING command that returns a BulkString if a string argument is provided.
[code]
Executing it (bloop test redis-test -- -t "PING with a string argument will lock executor"),
will cause a timeout exception (Timeout of 1 m exceeded.)

I was

[2022-08-21 18:58] mijicd commented on #613
Hi, sorry for an **extremely delayed** response. If you have already played with a bugfix, please submit it. I'd be happy to help with it.

[2022-08-21 18:59] mijicd commented on #566
@jxnu-liguobin What is the status of this issue?

[2022-08-21 19:00] mijicd commented on #593
As suggested by @jxnu-liguobin the library is available as snapshot only at the moment. Unfortunately, my availability delayed the official release massively, but I'll try to get it on track.

[2022-08-21 19:00] #593 closed

[2022-08-22 01:26] jxnu-liguobin commented on #566
I didn't take the time to check it in depth because there was no problem after switching to json.

[2022-08-24 19:54] #462 closed

[2022-08-30 06:40] #613 closed

[2022-08-30 11:27] #478 closed

[2022-10-29 06:27] rfmejia commented on #548
Looking into this while migrating a codebase to ZIO 2, I have some questions:

1. Is this the desired result, moving the following from the `zio.redis` package object:

[code]

2. Should accessor methods remain in the package object, or should they be moved to the `zio.redis.Redis` companion object?

3. Where should `options.XXX` be placed?

[2022-10-30 08:53] mijicd commented on #548
@rfmejia The idea is to move the api functions to `Redis` trait so that it "plays nice" with the rest of the ecosystem as @jdegoes described above. Eventually, we'll hide `codec` and `executor` methods, but I'd say it's not a concern of this particular issue. Helper packages, like options, should not be touched.

[2022-10-30 08:55] mijicd commented on #566
@jxnu-liguobin is the issue still present in the current codebase?

[2022-10-31 01:42] jxnu-liguobin commented on #566
I just tried it. It's OK now.

[2022-10-31 06:07] #566 closed

[2022-11-12 19:54] anatolysergeev opened #673 "Support Cross-slot command execution"
We can add support for some commands like it's been done in [lettuce](https://github.com/lettuce-io/lettuce-core/wiki/Redis-Cluster#cross-slot-command-execution-and-cluster-wide-execution-for-selected-commands)

Regular Redis Cluster commands are limited to single-slot keys operation – either single key commands or multi-key commands that share the same hash slot.

The cross slot limitation can be

[2022-11-12 19:58] anatolysergeev opened #674 "SingleNodeExecutor hanging forever"
I simulated redis node failover and this shows that no errors returns and send commands waits answer forever
SingleNodeExecutor doesn't throw connection errors, timeout errors, it is hanging forever

[2022-11-12 20:05] anatolysergeev opened #675 "Support Redis Sentinel"
Add new executor that will be supporting [Redis Sentinel](https://redis.io/docs/management/sentinel/)

[2022-11-12 20:12] anatolysergeev commented on #151
I'm think that implementation of other cluster commands it isn't priority due to their low use by user in business logic. That's why i want focus on other issues, that thinks are more important. Feel free to take this issue, i move away from it for now.

[2022-11-14 17:00] frekw opened #676 "Asynchronous connection initialization in Layer"
Hi!

Today the RedisExecutor seems to connect synchronosly when the layer is constructed, which means that my application is unable to start if Redis is currently unavailable. I think it would be preferable if initializing the connection happened asynchronously (or if the user could choose between the two).